{% extends "base.html"%}
{% load crispy_forms_tags %}
{% load qr_tags %}
{% load static %}
{%block content%}
{%block css_styles%}
<style type="text/css" media="screen">
  .img-div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .qr-container {
    position: relative;
  }
  .qr-code {
    position: absolute;
    bottom: 9%;
    right: 15%;
    height: 20%;
    width: 20%;
    padding: 0;
  }
  .qr-code img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
</style>
{%endblock%}

<div class="card" >
    <div class="card-body">
       {% if voucher.status and voucher.redeemed_status %}
        <p>This vocher is vaid & already Redeemed</p>
       {%elif voucher.status and not voucher.redeemed_status%}
        <p>This vocher is valid & Not yet Redeemed</p>
       {% else%}
        <p>This Vocher is invalid</p>
       {% endif%}
       <div class="row qr-container">
        <div class="col-12 img-div">
              <img class="" src="{{ voucher.package_name.image.url }}"
              alt="{{ voucher.package_name.name }}">
        </div>
        <div class="col-4 qr-code">
          {% qr_from_text link "S" %}
        </div>
        
            
      </div>
      <p></p>

        {%if canredeem %}
          {%if voucher.status and not voucher.redeemed_status%}
            <button class="btn btn-outline-info" onclick=location.href="{% url 'promotion:customer_redeem_voucher' voucher.slug %}" type="submit">Redeem</button>
          {% endif %}
          <button class="btn btn-outline-info" onclick=location.href="{% url 'promotion:voucher_list' %}" type="submit">Go Back</button>
        {%endif%}
    </div>
</div>
{%endblock%}

{%block scontent%}
<div class="card d-none">
  <div class="card-body">
    <h5 class="card-title">Aditional information</h5>
    <p class="card-text"> A bus can only contain a <b>minimum of 14 seats</b> and a <b>maxmum of 67 seats</b> </p>
    
  </div>
</div>


{%endblock%}